.backBtn {
	font-size: 2rem;
	margin-bottom: 2rem;
	display: block;
	text-decoration: underline;
    margin: 0 auto;
}

.editForm {
	margin-top: 2rem;
	width: 50%;
}

label {
    width: 50%;
    font-size: 2rem;
}

input {
    font-size: 2rem;
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    background-color: rgb(206, 206, 206);
}

button[type='submit'] {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}