.task_item {
	background-color: rgba(128, 128, 128, 0.174);
	margin-top: 0.5rem;
	border-radius: 6px;
	font-size: 1.5rem;
	
}
.task_name {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

td {
    padding: 0.3rem;
}

.checkbox {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s ease background-color;
    cursor: pointer;
}

input {
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}

p {
    width: calc(100% - 3rem);
}

.deleteBtn {
	display: inline-block;
	border: 1px solid crimson;
	padding: 0.5rem 1.5rem;
	font-size: 1.6rem;
	color: crimson;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	
}